<nav class="bg-gray-800">
  <div class="mx-auto px-2 sm:px-6 lg:px-8 py-5 flex justify-end">
    <%= link_to t("edit_profile"), edit_parent_registration_path, class: "form-button mx-5" %>
    <%= link_to t("logout"), destroy_parent_session_path, method: :delete, class: "form-button" %>
  </div>
</nav>

<main class="p-5">
  <div class="badges flex flex-col md:flex-row">
    <% if current_parent.mailing_list %>
      <div class="p-3 shadow-lg m-3 rounded-lg text-indigo-500">
        <i class="fas fa-check-circle"></i>
        <%= t("newsletter.signed_up") %>
      </div>
    <% else %>
      <div class="p-3 shadow-lg m-3 rounded-lg text-red-500">
        <i class="fas fa-times-circle"></i>
        <%= t("newsletter.not_signed_up") %>
      </div>
    <% end %>

    <% if current_parent.has_current_bus_registration? %>
      <div class="p-3 shadow-lg m-3 rounded-lg text-indigo-500">
        <i class="fas fa-check-circle"></i>
        <%= t("bus_service.availing", year_start: Setting.current_school_year_start, year_end: Setting.current_school_year_end) %>
      </div>
    <% else %>
      <div class="p-3 shadow-lg m-3 rounded-lg text-red-500">
        <i class="fas fa-times-circle"></i>
        <%= t("bus_service.not_availing", year_start: Setting.current_school_year_start, year_end: Setting.current_school_year_end) %>
      </div>
    <% end %>

    <% if current_parent.paid_member? %>
      <div class="p-3 shadow-lg m-3 rounded-lg text-indigo-500">
        <i class="fas fa-check-circle"></i>
        <%= t("payment.paid", year_start: Setting.current_school_year_start, year_end: Setting.current_school_year_end) %>
      </div>
    <% else %>
      <div class="p-3 shadow-lg m-3 rounded-lg text-red-500">
        <i class="fas fa-times-circle"></i>
        <%= t("payment.not paid", year_start: Setting.current_school_year_start, year_end: Setting.current_school_year_end) %>
        <%= link_to "Pay with HelloAsso", "https://www.helloasso.com/associations/union-des-parents-du-lycee-marguerite-duras/adhesions/adhesion-2021-2022-2", class: "form-button" %>
      </div>
    <% end %>

    <% if current_parent.donated? %>
      <div class="p-3 shadow-lg m-3 rounded-lg text-indigo-500">
        <i class="fas fa-check-circle"></i>
        <%= t("donation.donated", year_start: Setting.current_school_year_start, year_end: Setting.current_school_year_end) %>
      </div>
    <% else %>
      <div class="p-3 shadow-lg m-3 rounded-lg text-red-500">
        <i class="fas fa-times-circle"></i>
        <%= t("donation.not_donated", year_start: Setting.current_school_year_start, year_end: Setting.current_school_year_end) %>
      </div>
    <% end %>
  </div>
  <div class="grid grid-cols-2">
    <div class="text-center p-3">
      <h2 class="text-2xl">Your information</h2>
      <table class="m-2 w-full">
        <% [:email, :first_name, :last_name, :full_name, :phone_number, :address].each do |s| %>
          <tr>
            <td class="border-2 p-2"><%= t("activerecord.attributes.parent.#{s.to_s}") %></td>
            <td class="border-2 p-2"><%= current_parent.send(s) %></td>
          </tr>
        <% end %>
        <tr>
          <td class="border-2 p-2"><%= t("activerecord.attributes.parent.preferred_language") %></td>
          <td class="border-2 p-2"><%= ({ en: "English", fr: "French", vi: "Vietnamese" })[current_parent.preferred_language.to_sym] %></td>
        </tr>
      </table>
    </div>
    <div class="text-center p-3">
      <h2 class="text-2xl">Secondary parent</h2>
      <% if current_parent.secondary_parent.present? %>
        <table class="m-2 w-full">
          <% [:email, :first_name, :last_name, :full_name, :phone_number, :address].each do |s| %>
            <tr>
              <td class="border-2 p-2"><%= t("activerecord.attributes.secondary_parent.#{s.to_s}") %></td>
              <td class="border-2 p-2"><%= current_parent.secondary_parent.send(s) %></td>
            </tr>
          <% end %>
          <tr>
            <td class="border-2 p-2"><%= t("activerecord.attributes.parent.preferred_language") %></td>
            <td class="border-2 p-2"><%= ({ en: "English", fr: "French", vi: "Vietnamese" })[current_parent.secondary_parent.preferred_language.to_sym] %></td>
          </tr>
        </table>
      <% else %>
        <span>Not added</span>
      <% end %>

    </div>
    <div class="text-center p-3 col-span-2">
      <h2 class="text-2xl">Your kids</h2>
      <% if current_parent.children.empty? %>
        Not added
      <% else %>
        <table class="m-2 w-full">
          <tr>
            <% [:first_name, :last_name, :full_name, :grade, :birth_date, :age].each do |s| %>
              <th class="border-2 p-2"><%= t("activerecord.attributes.child.#{s.to_s}") %>
                <% if s == :grade %>
                  (<%= Setting.current_school_year_start %> - <%= Setting.current_school_year_start %>)
                <% end %>
              </th>
            <% end %>
          </tr>
          <% current_parent.children.each do |child| %>
            <tr>
            <% [:first_name, :last_name, :full_name, :grade, :birth_date, :age].each do |s| %>
                <td class="border-2 p-2"><%= child.send(s) %></td>
            <% end %>
            </tr>
          <% end %>


        </table>
      <% end %>

    </div>
  </div>


</main>

