<nav>

  <div class="flex flex-col px-2 py-5 mx-auto sm:px-6 lg:px-8 md:flex-row">
    <div>
      <%= image_tag 'logo2.png', class: 'w-28 h-28 rounded-full m-5' %>
    </div>
    <div class="flex w-full flex-col md:flex-row justify-self-end mt-8">
      <%= select_tag "language", options_for_select(locale_map(Parent.preferred_languages.keys.to_a), I18n.locale), class: "bg-gray-200 text-gray-700 border  rounded px-4 leading-tight focus:outline-none focus:bg-white m-3 h-12", data: { controller: "language", action: "language#reload" } %>
      <%= link_to t("edit_profile"), edit_parent_registration_path, class: "form-button m-2 h-12", data: { turbolinks: false } %>
      <%= link_to t("logout"), destroy_parent_session_path, method: :delete, class: "form-button m-2 h-12" %>
    </div>

  </div>
</nav>

<main class="p-5">

  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="p-0 p-3">
      <h2 class="text-2xl text-white bg-blue p-5 text-center"><%= t("profile_title") %></h2>
      <table class="w-auto mt-2 md:w-full">
        <% [:email, :first_name, :last_name, :full_name, :phone_number, :address].each do |s| %>
          <tr>
            <td class="py-2 border-2 md:p-2 text-right"><%= t("activerecord.attributes.parent.#{s.to_s}") %></td>
            <td class="py-2 border-2 md:p-2 text-center"><%= current_parent.send(s) %></td>
          </tr>
        <% end %>
        <tr>
          <td class="py-2 border-2 md:p-2 text-right"><%= t("activerecord.attributes.parent.preferred_language") %></td>
          <td class="py-2 border-2 md:p-2 text-center"><%= ({ en: "English", fr: "French", vi: "Vietnamese" })[current_parent.preferred_language.to_sym] %></td>
        </tr>
        <tr>
          <td class="py-2 border-2 md:p-2 text-right"><%= t("activerecord.attributes.parent.nationality") %></td>
          <td class="py-2 border-2 md:p-2 text-center"><%= current_parent.nationalities.filter{ |n| !n.blank? }.map { |n| t("nations.#{n}") }.join(",") %></td>
        </tr>
        <tr>
          <td class="py-2 border-2 md:p-2 text-right">
            <%= t("payment.title", year_start: Setting.current_school_year_start, year_end: Setting.current_school_year_end) %>
          </td>
          <td class="py-2 border-2 md:p-2 text-center">
            <%= current_parent.paid_member? ? t("paid") : t("not paid") %>
            <%= link_to t("pay_with_helloasso"),
                        "https://www.helloasso.com/associations/#{Setting.helloasso_organization_slug}/adhesions/#{Setting.helloasso_current_form_id}",
                        class: "form-button block" unless current_parent.paid_member? %>
            <% if current_parent.paid_member? %>
              <div>
                <span>HelloAsso Order ID: </span>

                <span class="text-blue">#<%= current_parent.current_year_helloasso_order.map { |o| "#{o.helloasso_order_id}" }.join ',' %></span>

              </div>

            <% end %>
          </td>
        </tr>
        <tr>
          <td class="py-2 border-2 md:p-2 text-right">
            <%= t("bus_service.title", year_start: Setting.current_school_year_start, year_end: Setting.current_school_year_end) %>
          </td>
          <td class="py-2 border-2 md:p-2 text-center">
            <%= current_parent.has_current_bus_registration? ? t("registered") : t("not_registered") %>
            <%= link_to t("edit_for_bus"), edit_parent_registration_path, class: "form-button block" unless current_parent.has_current_bus_registration?%>
          </td>
        </tr>
        <tr>
          <td class="py-2 border-2 md:p-2 text-right">
            <%= t("newsletter.title", year_start: Setting.current_school_year_start, year_end: Setting.current_school_year_end) %>

          </td>
          <td class="py-2 border-2 md:p-2 text-center">
            <%= current_parent.mailing_list ? t("registered") : t("not_registered") %>

          </td>
        </tr>
        <tr>
          <td class="py-2 border-2 md:p-2 text-right">
            <%= t("donation.title", year_start: Setting.current_school_year_start, year_end: Setting.current_school_year_end) %>

          </td>
          <td class="py-2 border-2 md:p-2 text-center">
            <%= current_parent.donated? ? current_parent.donation_amount / 100 : t("not_donated") %>
          </td>
        </tr>
      </table>

    </div>
    <div class="p-3 text-center">
      <h2 class="text-2xl text-white bg-blue p-5"><%= t("activerecord.models.secondary_parent.one") %></h2>
      <% if current_parent.secondary_parent.present? %>
        <table class="w-full mt-2">
          <% [:email, :first_name, :last_name, :full_name, :phone_number, :address].each do |s| %>
            <tr>
              <td class="py-2 border-2 md:p-2 text-right"><%= t("activerecord.attributes.secondary_parent.#{s.to_s}") %></td>
              <td class="py-2 border-2 md:p-2 text-center"><%= current_parent.secondary_parent.send(s) %></td>
            </tr>
          <% end %>
          <tr>
            <td class="py-2 border-2 md:p-2 text-right"><%= t("activerecord.attributes.parent.preferred_language") %></td>
            <td class="py-2 border-2 md:p-2 text-center"><%= ({ en: "English", fr: "French", vi: "Vietnamese" })[current_parent.secondary_parent.preferred_language.to_sym] %></td>
          </tr>
          <tr>
            <td class="py-2 border-2 md:p-2 text-right"><%= t("activerecord.attributes.parent.nationality") %></td>
            <td class="py-2 border-2 md:p-2 text-center"><%= current_parent.secondary_parent.nationalities.filter{ |n| !n.blank? }.map { |n| t("nations.#{n}") }.join(",") %></td>
          </tr>
        </table>
      <% else %>
        <span><%= t("information_not_added") %></span>
      <% end %>

    </div>
    <div class="p-0 text-center md:p-3 col-span-1 md:col-span-2">
      <h2 class="text-2xl text-white bg-blue p-5"><%= t("information_about_children") %></h2>
      <% if current_parent.children.empty? %>
        <%= t("information_not_added") %>
      <% else %>
        <table class="w-full mt-2">
          <tr>
            <% [:first_name, :last_name, :full_name, :previous_grade, :grade, :birth_date, :age, :conditions, :taking_bus, :nationality].each do |s| %>
              <th class="py-2 border-2 md:p-2"><%= t("activerecord.attributes.child.#{s.to_s}") %>
                <% if s == :previous_grade %>
                  (<%= Setting.current_school_year_start - 1 %> - <%= Setting.current_school_year_start %>)
                <% end %>
                <% if s == :grade %>
                  (<%= Setting.current_school_year_start %> - <%= Setting.current_school_year_end %>)
                <% end %>
              </th>
            <% end %>
          </tr>
          <% current_parent.children.each do |child| %>
            <tr>
            <% [:first_name, :last_name, :full_name, :previous_grade, :grade, :birth_date, :age, :conditions].each do |s| %>
                <td class="py-2 border-2 md:p-2"><%= child.send(s) %></td>
            <% end %>
              <td class="py-2 border-2 md:p-2"><%= child.taking_bus ? t("y") : t("n") %></td>
              <td class="py-2 border-2 md:p-2"><%= child.nationalities.filter{ |n| !n.blank? }.map { |n| t("nations.#{n}") }.join(",") %></td>
            </tr>
          <% end %>


        </table>
      <% end %>

    </div>
  </div>


</main>

