<p><%= t("mails.hello", email: @resource.email) %>!</p>

<p><%= t("mails.someone_requested_password_change") %></p>

<p><%= link_to t("mails.change_my_password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t("mails.ignore") %></p>
<p><%= t("mails.password_wont_change") %></p>
