<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= t("mails.hello", email: @user.first_name) %>,</h1>
<p>
  <%= t("mails.upmd_thanks_you") %>
</p>
<p><%= t("mails.your_membership_fee") %></p>
<p><%= t("mails.thank_you_again") %></p>
<p><%= t("mails.volunteers") %></p>
</body>
</html>
