<main class="p-5">
  <div class="grid grid-cols-2">
    <div class="text-center p-3">
      <h2 class="text-2xl">Information for <%= @child.full_name %></h2>
      <table class="m-2 w-full">
        <% [ :first_name, :last_name, :full_name, :grade, :birth_date, :age, :unaccompanied?].each do |s| %>
          <tr>
            <td class="border-2 p-2"><%= t("parent.attributes.#{s.to_s}") %></td>
            <td class="border-2 p-2"><%= @child.send(s) %></td>
          </tr>
        <% end %>
        <tr>
          <td class="border-2 p-2"><%= t("parent.attributes.public_comment") %></td>
          <td class="border-2 p-2"><%= @child.public_comment %></td>
        </tr>
      </table>
    </div>
    <div class="text-center p-3">
      <h2 class="text-2xl">Parent information</h2>

        <table class="m-2 w-full">
          <% [:email, :first_name, :last_name, :full_name, :phone_number, :address].each do |s| %>
            <tr>
              <td class="border-2 p-2"><%= t("parent.attributes.#{s.to_s}") %></td>
              <td class="border-2 p-2"><%= @child.parent.send(s) %></td>
            </tr>
          <% end %>
          <tr>
            <td class="border-2 p-2"><%= t("parent.attributes.public_comment") %></td>
            <td class="border-2 p-2"><%= @child.parent.public_comment %></td>
          </tr>
        </table>


    </div>
  </div>


</main>